@page "/ChangePassword"
@using Blazor.Shared.Commands.Auth.ChangePassword
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavManager

@code {

    private ChangePasswordRequest Command { get; } = new ();
    private bool Loading { get; set; } = false;

    private async Task OnInvalidSubmit()
    {
        Console.WriteLine("OnInvalidSubmit");
    }

    private async Task OnValidSubmit()
    {
        Loading = true;
        var response = await AuthenticationService.ChangePassword(Command);
        Loading = false;
        if (response?.Success ?? false)
        {
            NavManager.NavigateTo("/");
        }
    }

}

<PageTitle>Register</PageTitle>

<StandardPage>
    <Content>
        <Card>
            <CardBody>
                <EditForm Model="Command"
                          OnValidSubmit="OnValidSubmit"
                          OnInvalidSubmit="OnInvalidSubmit">
                    <FluentValidationValidator/>
                    <ExInputText @bind-Value="Command.EmailAddress"
                                 ValidationFor="@(() => Command.EmailAddress)"
                                 Label="Email Address"
                                 Required="true"/>
                    <ExInputPassword @bind-Value="Command.CurrentPassword"
                                     ValidationFor="@(() => Command.CurrentPassword)"
                                     Label="Current Password"
                                     Required="true"/>
                    <ExInputPassword @bind-Value="Command.NewPassword"
                                     ValidationFor="@(() => Command.NewPassword)"
                                     Label="New Password"
                                     Required="true"/>
                    <ExInputWrapper>
                        <Button Type="submit" CssClass="button blue">
                            @if(Loading){
                                <LoadingIndicator/>
                            } else {
                                <span>Register</span>
                            }
                        </Button>
                    </ExInputWrapper>

                </EditForm>
            </CardBody>
        </Card>
    </Content>
</StandardPage>



      